body{
            background-color: lightgoldenrodyellow

cite{background-color: cadetblue;

            }
            em{ background-color:fuchsia;

            }
            i{background-color: chartreuse;

            }
