body{background-color: pink;
     font-family: Trebuchet MS;
}

cite{background-color: cadetblue;

            }
            em{ background-color:fuchsia;

            }
            i{background-color: chartreuse;

            }
