body{background-color: pink;
     font-family: 'Trebuchet MS', Helvetica;
     font-size: 18pt;
}

cite{background-color: cadetblue;

            }
            em{ background-color:fuchsia;

            }
            i{background-color: chartreuse;

            }
